{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.form.js')}}"></script>
<script type="text/javascript">
$(function(){
        var options = {
            beforeSubmit: function() {
            $('#msg').html('{{_("backupDbNotice")}}');
            },
            success: showResult
        }
        $('#backupDb').ajaxForm(options);
   })
function showResult(responseText, statusText, xhr, $form) {
    $('#msg').html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button>"+responseText.msg+"</div>");
}
</script>
<style type="text/css">
    #backupList h2 {text-align: center;}
</style>
{% endblock %}

{% block nav %}
    <li><a href="/">Home</a></li>
    {% include 'appServerCatChooser.html' %}
    <li><a href="consoleWall">{{_("consoleWall")}}</a></li>
    <li><a href="updateApps">{{_("updateApp")}}</a></li> 
    <li><a href="updateScripts">{{_("updateGameScripts")}}</a></li>    
    <li class="active"><a href="backupDb">{{_("backupDatabase")}}</a></li>
{% endblock %}

{% block main %}
    <div class="span8 offset2">
        <h1>{{_("databaseBackup")}}</h1>
        <div id="divDb">
            <fieldset>
                <form id="backupDb" action="" method="post" class="form-horizontal">                
                    {% for server in servers: %}
                    <label class="checkbox">
                        <input type="checkbox" name="id" value="{{server.id}}"/>{{server.id}}-{{server.name}}
                    </label> 
                    {% endfor %}
                    <button type="submit" class="btn">{{_('backup')}}</button>                
                </form>
            </fiedset>
        </div>
        {% if queueMap|length > 0 %}
            <div id="backupQueue">
                <h2>{{_("backupQueue")}}</h2>
                <table id="queueTable" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>BATCH ID</th>
                            <th>HOST</th>
                            <th>STATUS</th>
                        </tr>                    
                    </thead>
                <!--备份队列 key-batchId value-[{agentIp:[{应用编号:[备份文件名,]},]},]-->
                {% for batchId, hostMap in queueMap.items(): %}
                <tr>
                    <td rowspan="{{hostMap|length}}">{{batchId}}</td>
                    {% for ip, data in hostMap.items() %}
                        {% if loop.first %}
                                <td>{{ip}}</td>
                                <td>                                
                                    {% for item in data %}
                                        {% for key, value in item.items() %}
                                            <ul>
                                                <li>{{appMap[key].name}}:
                                                    {% if value | length == 0 %}
                                                    inprogress
                                                    {% else %}
                                                    {{value|join(" ")}}
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ip}}</td>
                                <td>
                                    {% for item in data %}
                                        {% for key, value in item.items() %}
                                            <ul>
                                                <li>{{appMap[key].name}}:
                                                    {% if value | length == 0 %}
                                                    inprogress
                                                    {% else %}
                                                    {{value|join(" ")}}
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </table>
            </div>  
        {% endif %}      
        <div id="msg"></div>
        <div id="backupList">
            <h2>{{_("backupFileList")}}</h2>
            <table id="backupTable" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>HOST</th>
                        <th>BACKUP</th>
                        <th>SIZE</th>
                    </tr>                    
                </thead>
            {% for ip, items in backupMap.items(): %}
            <tr>
                <td rowspan="{{items|length}}">{{ip}}</td>
                {% for item in items %}
                    {% if loop.first %}
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                        </tr>
                    {% endif %}
                {% else %}
                    <td>--</td>
                    <td>--</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </table>
        </div> 
        
    </div>    
{% endblock %}
