
{% extends "base.html" %}

{% block nav %}
    <li><a href="/">Home</a></li>
    {% include 'appServerCatChooser.html' %}
    <li><a href="consoleWall">{{_("consoleWall")}}</a></li>
    <li class="active"><a href="updateApps">{{_("updateApp")}}</a></li>    
    <li><a href="updateScripts">{{_("updateGameScripts")}}</a></li> 
    <li><a href="backupDb">{{_("backupDatabase")}}</a></li>
    <li><a href="agentStatus">{{_("agentStatus")}}</a></li>
{% endblock %}

{% block main %}
    <div class="span8 offset2">
        {% include 'msg.html' %}
        <h1>{{_("update")}}{{_("app")}}</h1>
        <form name="apps" enctype="multipart/form-data" method="post" action="">      
            <div id="servers">
                {% for gs in gameServers: %}            
                    <label class="checkbox inline">
                        <input type="checkbox" name="id" value="{{gs.id}}">{{gs.name}}
                    </label>
                {% endfor %}
            </div>
            {{_("uploadJar")}}： <span class="controls"><input type="file" name="jar"/></span>          
          <button type="submit" class="btn">{{_('upload')}}</button>
        </form>    
    </div>   
{% endblock %}
