{% extends "base.html" %}

{% block nav %}
    <li><a href="/">Home</a></li>
    {% include 'appServerCatChooser.html' %}
    <li><a href="../updateScripts">{{_("updateGameScripts")}}</a></li>
    <li><a href="../questScriptGen">{{_("generateQuestScripts")}}</a></li>                     
    <li><a href="../encryptScripts">{{_("encryptScripts")}}</a></li>
    <li><a href="../backupDb">{{_("backupDatabase")}}</a></li>
{% endblock %}

{% block main %}
    <div class="span6 offset3">
        {% include 'msg.html' %}
        <h1>{{_("update")}}[{{gs.name}}]{{_("gameScripts")}}</h1>
		<form name="gameScript" enctype="multipart/form-data" method="post" action="{{gs.id}}">
		    {{_("updateGameScripts")}}：<input type="file" name="script"/>		    		    
		    <button type="submit" class="btn">{{_('upload')}}</button>
		</form>
		<div class="alert alert-info">{{_('updateGameScriptsNotice')}}</div>
    </div>
{% endblock %}


