{% extends "base.html" %}
{% set active_page = "script" %}

{% block main %}
    <div class="span8 offset2">
        {% include 'msg.html' %}
        <h1>{{_("update")}}[{{gs.name}}]{{_("gameScripts")}}</h1>
		<form name="gameScript" enctype="multipart/form-data" method="post" action="{{gs.id}}">
		    {{_("updateGameScripts")}}：<input type="file" name="script"/>		    		    
		    <button type="submit" class="btn">{{_('upload')}}</button>
		</form>
		<div class="alert alert-info">{{_('updateGameScriptsNotice')}}</div>
    </div>
{% endblock %}


